@import './fonts';
@import './variables';
@import './mixins';

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $accentText;
}

div,
p,
span {
	font-family: $primaryText;
}

body {
	margin: 0;
}

.app-wrapper {
	@include flexColumnAlign(center);

	width: 100vw;
	height: 100vh;

	main {
		height: calc(100vh - 3rem);

		header {
			text-align: center;

			h1 {
				font-size: 6rem;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-weight: 500;
			}
			h6 {
				font-size: 1.5rem;
				font-family: $primaryText;
				font-weight: 400;
				letter-spacing: -1px;
			}
		}

		.visualizer-container {
			@include flexColumnJustify(center);

			min-height: 10rem;

			.added-container {
				display: flex;

				h5 {
					font-size: 5rem;

					transition: transform 400ms ease-in-out;
				}
			}

			.unadded-container {
				display: flex;
				height: 7rem;

				.array-icon {
					@include flexJustifyAlign(flex-start, center);

					position: absolute;
					flex-direction: column;
					line-height: 0.7;
					transition: transform 400ms ease-in-out;
					width: 3rem;

					h5 {
						font-size: 4rem;
					}

					p {
						display: absolute;
						font-family: $accentText;
						font-size: 1.5rem;
						font-weight: 900;
					}
				}
			}
		}
	}

	footer {
		@include flexCenter;

		height: 3rem;
		justify-self: flex-end;
	}
}
