@font-face {
  font-family: "Qualy";
  src: local("Qualy"), url("./fonts/Qualy/Qualy.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Qualy";
  src: local("Qualy"), url("./fonts/Qualy/Qualy-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alumni Sans Pinstripe";
}

div,
p,
span {
  font-family: "Roboto";
}

body {
  margin: 0;
}

.app-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle at 40% top, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  width: 100vw;
  height: 100vh;
}
.app-wrapper main {
  height: calc(100vh - 3rem);
}
.app-wrapper main .app-container {
  padding: 0 1.5rem 2rem 1.5rem;
  margin-top: 1rem;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.336);
}
.app-wrapper main .app-container header {
  padding: 2rem;
  text-align: center;
  color: rgba(65, 63, 63, 0.87);
  text-shadow: 1px 1px 2px rgba(58, 55, 55, 0.603);
}
.app-wrapper main .app-container header h1 {
  font-size: 6rem;
  letter-spacing: 3px;
  font-weight: 500;
}
.app-wrapper main .app-container header h1 strong {
  color: rgb(24, 23, 23);
}
.app-wrapper main .app-container .visualizer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: rgb(247, 246, 246);
  min-height: 11.5rem;
  padding: 1.5rem 2rem;
  border-radius: 6px;
  border-bottom: 1px solid rgba(236, 236, 247, 0.918);
  border-top: 1px solid rgba(0, 0, 0, 0.904);
  background: linear-gradient(196deg, rgba(173, 131, 149, 0.950017507) 0%, rgba(97, 110, 125, 0.8779726891) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.app-wrapper main .app-container .visualizer-container .added-container {
  display: flex;
}
.app-wrapper main .app-container .visualizer-container .added-container h5 {
  font-size: 5rem;
  transition: transform 550ms ease-in-out;
}
.app-wrapper main .app-container .visualizer-container .added-container .bracket {
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.479));
  opacity: 0.9;
}
.app-wrapper main .app-container .visualizer-container .unadded-container {
  display: flex;
  margin-top: 1rem;
  height: 7rem;
}
.app-wrapper main .app-container .visualizer-container .unadded-container .array-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.479));
  opacity: 0.9;
  position: absolute;
  flex-direction: column;
  line-height: 0.7;
  transition: transform 550ms cubic-bezier(0.36, 0.83, 0.15, 0.99);
  width: 3rem;
}
.app-wrapper main .app-container .visualizer-container .unadded-container .array-icon h5 {
  font-size: 4rem;
}
.app-wrapper main .app-container .visualizer-container .unadded-container .array-icon p {
  display: absolute;
  font-family: "Alumni Sans Pinstripe";
  font-size: 1.5rem;
  font-weight: 900;
}
.app-wrapper main .app-container .visualizer-container .array-methods .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app-wrapper main .app-container .visualizer-container .array-methods .button-container .method-button {
  background: linear-gradient(166deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: rgba(245, 242, 242, 0.815);
  text-shadow: 1px 2px 0px rgba(31, 29, 29, 0.568);
  transition: background 400ms ease-in-out !important;
}
.app-wrapper main .app-container .visualizer-container .array-methods .button-container .method-button:hover {
  background: linear-gradient(166deg, rgba(255, 255, 255, 0.1213172269) 0%, rgba(255, 255, 255, 0.0960959384) 100%);
}
.app-wrapper footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  justify-self: flex-end;
}/*# sourceMappingURL=style.css.map */